<div class="catalog-page">

  <!-- HEADER -->
  <header class="top-header">
    <div class="logo-area">
      <img src="https://res.cloudinary.com/djn8thk2s/image/upload/v1763361948/Logo-SurfingSpace-coworking_1_n4jb0d_c_crop_w_300_h_300_n26546.png" alt="logo"/>
      <span>SurfSpace</span>
    </div>

    <div class="profile-area">
      <button class="search-btn" routerLink="/panel-principal">🔍 Search</button>
      <img src="https://res.cloudinary.com/djn8thk2s/image/upload/v1748134747/e46ee9dd-8a52-4f83-92a1-566dbd6ce14c_fpyk9t.jpg" class="profile-img"/>
    </div>
  </header>

  <!-- TITLE -->
  <section class="catalog-header">
    <h1>Catálogo de Espacios</h1>
    <p class="desc">Explora nuestros espacios de trabajo y salas de reuniones</p>
  </section>

  <!-- SEARCH BAR -->
  <section class="search-row">
    <div class="search-wrapper">
      <span class="search-icon">🔍</span>
      <input class="search-input" placeholder="Buscar espacios" />
    </div>
  </section>

  <!-- FILTER TABS -->
  <nav class="tabs">
    <button class="tab active">Todos</button>
    <button class="tab">Espacios compartidos</button>
    <button class="tab">Salas de reuniones</button>
  </nav>

  <!-- MAIN LIST -->
  <main class="catalog-list">

    <!-- SALAS DE REUNIONES -->
    <section>
      <div *ngFor="let room of meetingRooms" class="item-card">
        <img [src]="room.image" class="item-img"/>

        <div class="item-content">
          <h3>{{ room.title }}</h3>
          <p>{{ room.description }}</p>
          <button class="reserve-btn" routerLink="/newReservation">
            Reservar
          </button>
        </div>
      </div>
    </section>

    <!-- ESPACIOS COMPARTIDOS -->
    <section>
      <div *ngFor="let ws of sharedWorkspaces" class="item-card">
        <img [src]="ws.image" class="item-img"/>

        <div class="item-content">
          <h3>{{ ws.title }}</h3>
          <p>{{ ws.description }}</p>
          <button class="reserve-btn">Reservar</button>
        </div>
      </div>
    </section>

  </main>

</div>
